<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Bin</title>
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app" class="todoapp">
    <div class="overlay" v-if="loading">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path d="M43 50A7 7 0 0 0 57 50A7 7.9 0 0 1 43 50" fill="#c5c5c5" stroke="none" transform="rotate(167.878 50 50.45)">
          <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50.45;360 50 50.45"></animateTransform>
        </path>
      </svg>
    </div>

    <!-- task list -->
    <div v-if="page === 'list'">
      <header class="header">
        <h1>tasks</h1>
      </header>
      <section class="main" v-show="taskList.length" v-cloak>
        <ul class="todo-list">
          <li v-for="task in taskList" class="todo" @click="goToTask(task.Id)">
            <div class="view">
              <label>{{ task.Title }}</label>
              <div class="view__due">{{ task.Body || ('due ' + task.DueDate.substr(0, 10)) }}</div>
              <div class="view__status">{{ task.Status }}</div>
              <div class="view__priority">{{ task.Priority }}</div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <!-- single task -->
    <div v-if="page === 'task' && !!task">
      <header class="header">
        <h1>task #{{task.Id}}</h1>
      </header>
      <section class="main">
        <ul class="todo-list">
          <li class="task">
            <div class="task__title">{{ task.Title }}</div>
            <div v-if="author" class="task__author">Author {{ author.Title }} | {{ author.Email }}</div>
            <div class="task__date">Start date {{ task.StartDate.substr(0, 10) }}</div>
            <div class="task__date">End date {{ task.DueDate.substr(0, 10) }}</div>
            <div class="task__status">{{ task.Status }} <div class="task__priority">| Priority {{ task.Priority }}</div></div>
            <div v-if="task.Body">{{ task.Body }}</div>
            <button @click="goToList" class="task__close">✕</button>
          </li>
        </ul>
      </section>
    </template>
</div>

  <script>
    const app = new Vue({
      el: '#app',

      data: {
        page: 'list',
        task: null,
        taskList: [],
        author: {},
        loading: true,
      },

      mounted: function () {
        const vm = this

        window.handleResponse = ({ type, payload }) => {
          if (type === 'list') vm.handleListResponse(payload);
          if (type === 'task') vm.handleTaskResponse(payload);
          if (type === 'author') vm.handleAuthorResponse(payload);
        }

        vm.sendRequest({ type: 'list', payload: null })
      },

      methods: {
        sendRequest: ({ type, payload }) => {
          if (!window.webkit || !window.webkit.messageHandlers) {
            alert("No window.webkit.messageHandlers!");
            return;
          }
          window.webkit.messageHandlers.jsHandler.postMessage({ type, payload });
        },
        handleListResponse: function(response) {
          this.loading = false;
          this.taskList = response && response.d && response.d.results || [];
        },
        handleTaskResponse: function(response) {
          this.page = 'task';
          this.task = response && response.d || null;
          this.loading = false;
          if (this.task.AuthorId) {
            this.sendRequest({ type: 'author', payload: { id: this.task.AuthorId } });
          }
        },
        handleAuthorResponse: function(response) {
          this.author = response && response.d || {};
        },
        goToList: function() {
          this.page = 'list';
        },
        goToTask: function(id) {
          this.loading = true;
          this.sendRequest({ type: 'task', payload: { id } });
        },
      }
    })

    // setTimeout(() => {
    //   handleResponse({ type: 'author', payload: {
    //     "d": {
    //       "IsHiddenInUI": false,
    //       "IsShareByEmailGuestUser": false,
    //       "Email": "gudov@i-teco.ru",
    //       "Alerts": {
    //         "__deferred": {
    //           "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/GetUserById(157)\/Alerts"
    //         }
    //       },
    //       "Id": 157,
    //       "IsSiteAdmin": false,
    //       "UserId": {
    //         "NameIdIssuer": "urn:office:idp:activedirectory",
    //         "NameId": "s-1-5-21-3211600293-4142535272-2967873927-9571",
    //         "__metadata": {
    //           "type": "SP.UserIdInfo"
    //         }
    //       },
    //       "LoginName": "i:0#.w|iteco\\gudov",
    //       "Groups": {
    //         "__deferred": {
    //           "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/GetUserById(157)\/Groups"
    //         }
    //       },
    //       "Title": "Гудов Андрей",
    //       "__metadata": {
    //         "id": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/GetUserById(157)",
    //         "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/GetUserById(157)",
    //         "type": "SP.User"
    //       },
    //       "IsEmailAuthenticationGuestUser": false,
    //       "PrincipalType": 1
    //     }
    //   }
    //   })
    // }, 500)

    // setTimeout(() => {
    //   handleResponse({ type: 'task', payload: {
    //       "d": {
    //           "ServerRedirectedEmbedUrl": "",
    //           "Created": "2019-11-21T11:57:51Z",
    //           "GUID": "d67ec0a5-5acd-475f-b255-132c7c0cbf22",
    //           "FieldValuesForEdit": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesForEdit"
    //               }
    //           },
    //           "Versions": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Versions"
    //               }
    //           },
    //           "Folder": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Folder"
    //               }
    //           },
    //           "AssignedToStringId": {
    //               "results": [
    //                   "157"
    //               ],
    //               "__metadata": {
    //                   "type": "Collection(Edm.String)"
    //               }
    //           },
    //           "DueDate": "2019-11-25T21:00:00Z",
    //           "__metadata": {
    //               "id": "e58c354c-6b45-4d64-b351-4f8fab53859a",
    //               "etag": "\"1\"",
    //               "type": "SP.Data.TasksListItem",
    //               "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)"
    //           },
    //           "Activities": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Activities"
    //               }
    //           },
    //           "PredecessorsId": {
    //               "results": [
                      
    //               ],
    //               "__metadata": {
    //                   "type": "Collection(Edm.Int32)"
    //               }
    //           },
    //           "ParentList": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/ParentList"
    //               }
    //           },
    //           "Modified": "2019-11-21T11:57:51Z",
    //           "ContentTypeId": "0x010800D9662DE5DE34544B8508B42221A544A3",
    //           "FieldValuesAsHtml": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesAsHtml"
    //               }
    //           },
    //           "Status": "Not Started",
    //           "Checkmark": "0",
    //           "Properties": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Properties"
    //               }
    //           },
    //           "LikedByInformation": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/LikedByInformation"
    //               }
    //           },
    //           "File": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/File"
    //               }
    //           },
    //           "RoleAssignments": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/RoleAssignments"
    //               }
    //           },
    //           "ServerRedirectedEmbedUri": null,
    //           "Title": "Task one",
    //           "Priority": "(2) Normal",
    //           "StartDate": "2019-11-19T21:00:00Z",
    //           "ID": 1,
    //           "FirstUniqueAncestorSecurableObject": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FirstUniqueAncestorSecurableObject"
    //               }
    //           },
    //           "FileSystemObjectType": 0,
    //           "Body": null,
    //           "ComplianceAssetId": null,
    //           "ContentType": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/ContentType"
    //               }
    //           },
    //           "AuthorId": 157,
    //           "EditorId": 157,
    //           "PercentComplete": 0,
    //           "RelatedItems": null,
    //           "GetDlpPolicyTip": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/GetDlpPolicyTip"
    //               }
    //           },
    //           "PreviouslyAssignedToStringId": {
    //               "results": [
                      
    //               ],
    //               "__metadata": {
    //                   "type": "Collection(Edm.String)"
    //               }
    //           },
    //           "Attachments": false,
    //           "AttachmentFiles": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/AttachmentFiles"
    //               }
    //           },
    //           "Id": 1,
    //           "AssignedToId": {
    //               "results": [
    //                   157
    //               ],
    //               "__metadata": {
    //                   "type": "Collection(Edm.Int32)"
    //               }
    //           },
    //           "OData__UIVersionString": "1.0",
    //           "FieldValuesAsText": {
    //               "__deferred": {
    //                   "uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesAsText"
    //               }
    //           }
    //       }
    //   }
    //   })
    // }, 400);


//     setTimeout(() => {
//       handleResponse({ type: 'list', payload: {
// 	"d": {
// 		"results": [{
// 				"ServerRedirectedEmbedUrl": "",
// 				"Created": "2019-11-21T11:57:51Z",
// 				"GUID": "d67ec0a5-5acd-475f-b255-132c7c0cbf22",
// 				"FieldValuesForEdit": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesForEdit"
// 					}
// 				},
// 				"Versions": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Versions"
// 					}
// 				},
// 				"Folder": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Folder"
// 					}
// 				},
// 				"AssignedToStringId": {
// 					"results": [
// 						"157"
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"DueDate": "2019-11-25T21:00:00Z",
// 				"__metadata": {
// 					"id": "333efbd6-56c6-449a-a98d-656e85ea5523",
// 					"etag": "\"1\"",
// 					"type": "SP.Data.TasksListItem",
// 					"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)"
// 				},
// 				"Activities": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Activities"
// 					}
// 				},
// 				"PredecessorsId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"ParentList": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/ParentList"
// 					}
// 				},
// 				"Modified": "2019-11-21T11:57:51Z",
// 				"ContentTypeId": "0x010800D9662DE5DE34544B8508B42221A544A3",
// 				"FieldValuesAsHtml": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesAsHtml"
// 					}
// 				},
// 				"Status": "Not Started",
// 				"Checkmark": "0",
// 				"Properties": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/Properties"
// 					}
// 				},
// 				"LikedByInformation": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/LikedByInformation"
// 					}
// 				},
// 				"File": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/File"
// 					}
// 				},
// 				"RoleAssignments": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/RoleAssignments"
// 					}
// 				},
// 				"ServerRedirectedEmbedUri": null,
// 				"Title": "Task one",
// 				"Priority": "(2) Normal",
// 				"StartDate": "2019-11-19T21:00:00Z",
// 				"ID": 1,
// 				"FirstUniqueAncestorSecurableObject": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FirstUniqueAncestorSecurableObject"
// 					}
// 				},
// 				"FileSystemObjectType": 0,
// 				"Body": null,
// 				"ComplianceAssetId": null,
// 				"ContentType": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/ContentType"
// 					}
// 				},
// 				"AuthorId": 157,
// 				"EditorId": 157,
// 				"PercentComplete": 0,
// 				"RelatedItems": null,
// 				"GetDlpPolicyTip": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/GetDlpPolicyTip"
// 					}
// 				},
// 				"PreviouslyAssignedToStringId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"Attachments": false,
// 				"AttachmentFiles": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/AttachmentFiles"
// 					}
// 				},
// 				"Id": 1,
// 				"AssignedToId": {
// 					"results": [
// 						157
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"OData__UIVersionString": "1.0",
// 				"FieldValuesAsText": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(1)\/FieldValuesAsText"
// 					}
// 				}
// 			},
// 			{
// 				"ServerRedirectedEmbedUrl": "",
// 				"Created": "2019-11-21T11:58:10Z",
// 				"GUID": "c0963192-89ba-4989-bb9b-42c449ebbe1b",
// 				"FieldValuesForEdit": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/FieldValuesForEdit"
// 					}
// 				},
// 				"Versions": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/Versions"
// 					}
// 				},
// 				"Folder": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/Folder"
// 					}
// 				},
// 				"AssignedToStringId": {
// 					"results": [
// 						"656"
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"DueDate": "2019-11-25T21:00:00Z",
// 				"__metadata": {
// 					"id": "1e55cf40-527d-4610-a91f-8d16e6d1122a",
// 					"etag": "\"1\"",
// 					"type": "SP.Data.TasksListItem",
// 					"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)"
// 				},
// 				"Activities": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/Activities"
// 					}
// 				},
// 				"PredecessorsId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"ParentList": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/ParentList"
// 					}
// 				},
// 				"Modified": "2019-11-21T11:58:10Z",
// 				"ContentTypeId": "0x010800D9662DE5DE34544B8508B42221A544A3",
// 				"FieldValuesAsHtml": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/FieldValuesAsHtml"
// 					}
// 				},
// 				"Status": "Not Started",
// 				"Checkmark": "0",
// 				"Properties": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/Properties"
// 					}
// 				},
// 				"LikedByInformation": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/LikedByInformation"
// 					}
// 				},
// 				"File": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/File"
// 					}
// 				},
// 				"RoleAssignments": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/RoleAssignments"
// 					}
// 				},
// 				"ServerRedirectedEmbedUri": null,
// 				"Title": "Task two",
// 				"Priority": "(2) Normal",
// 				"StartDate": "2019-11-20T21:00:00Z",
// 				"ID": 2,
// 				"FirstUniqueAncestorSecurableObject": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/FirstUniqueAncestorSecurableObject"
// 					}
// 				},
// 				"FileSystemObjectType": 0,
// 				"Body": null,
// 				"ComplianceAssetId": null,
// 				"ContentType": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/ContentType"
// 					}
// 				},
// 				"AuthorId": 157,
// 				"EditorId": 157,
// 				"PercentComplete": 0,
// 				"RelatedItems": null,
// 				"GetDlpPolicyTip": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/GetDlpPolicyTip"
// 					}
// 				},
// 				"PreviouslyAssignedToStringId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"Attachments": false,
// 				"AttachmentFiles": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/AttachmentFiles"
// 					}
// 				},
// 				"Id": 2,
// 				"AssignedToId": {
// 					"results": [
// 						656
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"OData__UIVersionString": "1.0",
// 				"FieldValuesAsText": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(2)\/FieldValuesAsText"
// 					}
// 				}
// 			},
// 			{
// 				"ServerRedirectedEmbedUrl": "",
// 				"Created": "2019-11-21T11:59:27Z",
// 				"GUID": "db3f0230-42d3-4bdd-a5f7-f5ce830cee3f",
// 				"FieldValuesForEdit": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/FieldValuesForEdit"
// 					}
// 				},
// 				"Versions": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/Versions"
// 					}
// 				},
// 				"Folder": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/Folder"
// 					}
// 				},
// 				"AssignedToStringId": {
// 					"results": [
// 						"7"
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"DueDate": "2019-11-27T21:00:00Z",
// 				"__metadata": {
// 					"id": "42b0eaba-d3a8-45fd-ac0a-8a8cebb89f32",
// 					"etag": "\"1\"",
// 					"type": "SP.Data.TasksListItem",
// 					"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)"
// 				},
// 				"Activities": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/Activities"
// 					}
// 				},
// 				"PredecessorsId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"ParentList": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/ParentList"
// 					}
// 				},
// 				"Modified": "2019-11-21T11:59:27Z",
// 				"ContentTypeId": "0x010800D9662DE5DE34544B8508B42221A544A3",
// 				"FieldValuesAsHtml": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/FieldValuesAsHtml"
// 					}
// 				},
// 				"Status": "Not Started",
// 				"Checkmark": "0",
// 				"Properties": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/Properties"
// 					}
// 				},
// 				"LikedByInformation": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/LikedByInformation"
// 					}
// 				},
// 				"File": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/File"
// 					}
// 				},
// 				"RoleAssignments": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/RoleAssignments"
// 					}
// 				},
// 				"ServerRedirectedEmbedUri": null,
// 				"Title": "Task three",
// 				"Priority": "(2) Normal",
// 				"StartDate": "2019-11-22T21:00:00Z",
// 				"ID": 3,
// 				"FirstUniqueAncestorSecurableObject": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/FirstUniqueAncestorSecurableObject"
// 					}
// 				},
// 				"FileSystemObjectType": 0,
// 				"Body": null,
// 				"ComplianceAssetId": null,
// 				"ContentType": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/ContentType"
// 					}
// 				},
// 				"AuthorId": 157,
// 				"EditorId": 157,
// 				"PercentComplete": 0,
// 				"RelatedItems": null,
// 				"GetDlpPolicyTip": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/GetDlpPolicyTip"
// 					}
// 				},
// 				"PreviouslyAssignedToStringId": {
// 					"results": [

// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.String)"
// 					}
// 				},
// 				"Attachments": false,
// 				"AttachmentFiles": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/AttachmentFiles"
// 					}
// 				},
// 				"Id": 3,
// 				"AssignedToId": {
// 					"results": [
// 						7
// 					],
// 					"__metadata": {
// 						"type": "Collection(Edm.Int32)"
// 					}
// 				},
// 				"OData__UIVersionString": "1.0",
// 				"FieldValuesAsText": {
// 					"__deferred": {
// 						"uri": "https:\/\/msdep.i-teco.ru\/SmartApp\/_api\/Web\/Lists(guid'1411b625-918e-4b3d-a288-3f2c1277781e')\/Items(3)\/FieldValuesAsText"
// 					}
// 				}
// 			}
// 		]
// 	}
// }
//  })
//     }, 500)
  </script>
</body>
</html>
