<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Smart app</title>
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app" class="todoapp">
    <div class="overlay" v-if="loading">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path d="M43 50A7 7 0 0 0 57 50A7 7.9 0 0 1 43 50" fill="#c5c5c5" stroke="none" transform="rotate(167.878 50 50.45)">
          <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50.45;360 50 50.45"></animateTransform>
        </path>
      </svg>
    </div>

    <!-- task list -->
    <div v-if="page === 'list'">
      <header class="header">
        <h1>tasks</h1>
      </header>
      <section class="main" v-show="taskList.length" v-cloak>
        <ul class="todo-list">
          <li v-for="task in taskList" class="todo" @click="goToTask(task.Id)">
            <div class="view">
              <label>{{ task.Title }}</label>
              <div class="view__due">{{ task.Body || ('due ' + task.DueDate.substr(0, 10)) }}</div>
              <div class="view__status">{{ task.Status }}</div>
              <div class="view__priority">{{ task.Priority }}</div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <!-- single task -->
    <div v-if="page === 'task' && !!task">
      <header class="header">
        <h1>task #{{task.Id}}</h1>
      </header>
      <section class="main">
        <ul class="todo-list">
          <li class="task">
            <div class="task__title">{{ task.Title }}</div>
            <div v-if="author" class="task__author">Author {{ author.Title }} | {{ author.Email }}</div>
            <div class="task__date">Start date {{ task.StartDate.substr(0, 10) }}</div>
            <div class="task__date">End date {{ task.DueDate.substr(0, 10) }}</div>
            <div class="task__status">{{ task.Status }} <div class="task__priority">| Priority {{ task.Priority }}</div></div>
            <div v-if="task.Body">{{ task.Body }}</div>
            <button @mouseup="goToList" class="task__close">✕</button>
          </li>
        </ul>
      </section>
    </template>
</div>

  <script>
    const app = new Vue({
      el: '#app',

      data: {
        page: 'list',
        task: null,
        taskList: [],
        // page: 'task',
        // task: { Title: 'testing', StartDate: '2019-12-12', DueDate: '2019-12-12', Status: 'Not started', Priority: 'Low' },
        // taskList: [{ Title: 'testing', DueDate: '2019-12-12', Status: 'Not started', Priority: 'Low' }],
        author: {},
        loading: !true,
      },

      mounted: function () {
        const vm = this

        window.handleResponse = ({ type, payload }) => {
          if (type === 'list') vm.handleListResponse(payload);
          if (type === 'task') vm.handleTaskResponse(payload);
          if (type === 'author') vm.handleAuthorResponse(payload);
        }

        vm.sendRequest({ type: 'list', payload: '' });
      },

      methods: {
        sendRequest: ({ type, payload }) => {
          if (!window.webkit || !window.webkit.messageHandlers) {
            return;
          }
          window.webkit.messageHandlers.jsHandler.postMessage({ type, payload });
        },
        handleListResponse: function(response) {
          this.loading = false;
          this.taskList = response && response.d && response.d.results || [];
        },
        handleTaskResponse: function(response) {
          this.page = 'task';
          this.task = response && response.d || null;
          this.loading = false;
          if (this.task.AuthorId) {
            this.sendRequest({ type: 'author', payload: JSON.stringify({ id: this.task.AuthorId }) });
          }
        },
        handleAuthorResponse: function(response) {
          this.author = response && response.d || {};
        },
        goToList: function() {
          this.page = 'list';
        },
        goToTask: function(id) {
          this.loading = true;
          this.sendRequest({ type: 'task', payload: JSON.stringify({ id }) });
        },
      }
    })
  </script>
</body>
</html>
